<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01F033BDB28E29F126739040</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03DE6674D5E708C2EE023B08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B136EB655C154740FE0520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10E34011FD9B023609EA42F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B624CEA3F2D47ACC72373F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23D7482FA3A28885A1FFA190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2806D93DF0A69C84600259F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A939EE971E22CA76D99EA95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>308200203D003344C035856B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30E55B0012C97387AF7505A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36F64BED9F66E19274E70143</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37869AC0EEA8258EA9E0AE87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A452418CE2B29259F744D3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CF3DF7C5CD4506B3A687BFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E98FC4F515EFC3B9590250E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>405C0CC3C79D6EFA6308AD72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E08A1CB6519F98F1B792495</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59B980529B892B1262E00DC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E32B703EB58D19C034227C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64062A50A3A003DD7482442C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72DC08FAF291B4EB8B5C5BE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74A3AC5596F9B86FF399C294</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7798098F43B7502850C99DD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CB51D5F1A4929309B9C33F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81B406B664C9DE747E49C129</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>837E62D424BA0271328E7E87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>839CFEC2843FF49C909E7038</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90B74B5E6529AFA9BFA4CB3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D5035078112CF4543BE033</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D89940FDD44E20F8D75D8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99AFC0A6569730789B5DED40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99BCC45DE030ECC6C883185A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E27B61348F937AE044B7E1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E945D72A577E9549A377388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A26D796F0D7E56665A3C39BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA917B7BDB4882FB907A598C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAC8148EFFEA2BD1C9F17811</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC559C9EAC6A14FEFBEC525A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFA3D78758180C66538BDB63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2A1166F9801A71DBFF2F3B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEB19DD9FB984AE44CEF2147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF88F94B221E4007A9916242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E14DF4B438163D950E5D6292</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E25B3A5D2B18146016CD5731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDC2E10F3AF67EE026D87FA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE96865B062C7E1FA22C5998</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBDD705D64BA5D09BD550024</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
